/* Basic3 */
.img3{
    width: 380px;
    height: 280px;
    padding: 13px 0px 20px 10px;
  }
  .container_3{
    align-items: center;
    background-color: white;
    width: 400px;
    height: auto;
    display: flex;
    margin:250px 250px 250px 350px;
  }
  .content_x{
    padding-left: 15px;
  }
  .content_y,.content_t{
    color: rgb(109, 107, 107);
    font-size:medium;
    padding-bottom: 15px;
  }
  .drfurion{
    color: black;
  }
  .content_z{
    font-size: 21px;
    font-weight: 500;
    color: #444;
    padding-bottom: 15px;
  }
  .name{
    width: 30%;
    height: 50px;
  }